.card {
  margin: 5px;
  padding: 4px;
  border: 1px outset rgb(232, 221, 221);
  border-radius: 5px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card-left {
  margin-left: 30px;
}

.btn {
  margin-top: 2px;
}

.jaune {
  background-color: #EFBB10;
}

.bleu {
  background-color: #07245D;
}