<!-- <div id='myDiagramDiv'></div>
    <gojs-diagram [initDiagram]="initDiagram" [diagramNodeData]="diagramNodeData" [diagramLinkData]="diagramLinkData"
        [diagramModelData]="diagramModelData" [skipsDiagramUpdate]="skipsDiagramUpdate"
        (modelChange)="diagramModelChange($event)" [diagramDivClassName]="diagramDivClassName">
    </gojs-diagram> >
    {{test}} -->
test fotsiny
<button class="btn btn-success" (click)="test();">Test URL</button>
<button class="btn btn-info" (click)="testSave();">Post URL</button>