<app-toolbar-admin></app-toolbar-admin>
<div class="row">
    <div class="col-md-3">
        <ul class="nostyle">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Menu 1</a></li>
            <li><a href="#">Menu 2</a></li>
            <li><a href="#">Menu 3</a></li>
        </ul>
    </div>
    <div class="col-md-8">
        <table class="table table-striped table-responsive">
            <thead class="text-center">
                <td>Identifiant</td>
                <td>Nom</td>
                <td>Email</td>
                <td>Role</td>
                <td>Verification</td>
                <td>Options</td>
            </thead>
            <tbody>
              <tr *ngFor="let person of persons">
                  <td>{{person.id}}</td>
                  <td>{{person.nom}}</td>
                  <td>{{person.email}}</td>
                  <td>{{person.role_id}}</td>
                  <td>{{person.verification}}</td>
                  <td><button class="btn" (click)="toogleActive(person.id,person.verification);" [ngClass]="{'btn-success': person.verification==0,'btn-danger':person.verification==1}">{{person.verification==0?"Activer":"Desactiver"}}</button>
                  <button class="btn btn-warning"style="margin-left: 5px;">Supprimer</button>
                  </td>
              </tr>  
            </tbody>
        </table>
    </div>
</div>