/* You can add global styles to this file, and also import other style files */

.Logo{
    padding: 0px 10px 0px 10px;
    background-color: #FFFFFF;
    color: #BC062C;
    margin: 10px 10px 10px 10px;
    font-family: 'Script MT','Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
}