<app-toolbar-vendeur></app-toolbar-vendeur>
<div class="row">
    <div class="col-md-3">
        <ul class="nostyle">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Menu 1</a></li>
            <li><a href="#">Menu 2</a></li>
            <li><a href="#">Menu 3</a></li>
        </ul>
    </div>
    <div class="col-md-8">
        <!-- LISTE PRODUITS-->
        <div class="row">
            <!-- <div class="col-md-4">Contenu 1</div>
            <div class="col-md-4">Contenu 2</div>
            <div class="col-md-4">Contenu 3</div> -->
            <app-vendeurcard></app-vendeurcard>
        </div>
    </div>
</div>
